* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: gray;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jumbo-container {
    position: relative;
    overflow: hidden;
}

.jumbo-top {
    width: 100%;
    height: 15vh;
    background-color: #009688;
}

.jumbo-bottom {
    width: 100%;
    height: 85vh;
    background-color: #dadbd2;
}

#app {
    width: 1250px;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-left {
    width: 400px;
    float: left;
}

.col-right {
    width: calc(100% - 400px);
    height: 100%;
    float: left;
}

.col-left_top {
    height: 21vh;
    overflow: hidden;
}

.user {
    height: 55px;
    background-color: #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
}

.name_main {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.btn-tools {
    border: none;
    cursor: pointer;
}

.tools {
    display: flex;
    align-items: center;
}

.fa-circle-notch,
.fa-message,
.fa-ellipsis-vertical,
.fa-magnifying-glass,
.fa-paperclip {
    color: gray;
    font-size: 1.1rem;
    margin-right: 1rem;
}

.notifications {
    height: 60px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.notification-img {
    padding: 0 .8rem;
}

.fa-bell-slash {
    color: #8edafc;
    border-radius: 50%;
    background-color: white;
    padding: .7rem;
    margin-right: none;
}

.nots-text_top {
    font-size: .9rem;
}

.nots-text_bottom {
    font-size: .8rem;
}

.search-name {
    height: calc(100% - 115px);
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search {
    width: 95%;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding-left: 1rem;
    border-radius: 5px;
}

#search_name {
    width: 100%;
    height: 30px;
    border: none;
}

.col-left_bottom {
    height: 74vh;
    overflow-y: scroll;
    background-color: white;
}

.received-msg,
.info-user {
    height: 4rem;
    display: flex;
    padding: .5rem .6rem;
}

.received-msg:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.received-msg_text {
    margin-right: auto;
    padding: 0 .8rem;
}

.circle {
    max-width: 50px;
}

.circle-main {
    width: 40px;
}

.img_users {
    width: 100%;
    border-radius: 50%;
}

.name {
    font-size: 1rem;
}

.info-text,
.hour-text {
    font-size: .8rem;
    color: #aeaeb1da;
}

.col-right_top,
.col-right_bottom {
    height: 55px;
    background-color: #eaeaea;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.col-right_top {
    display: flex;
    align-items: center;
}

.circle_main_top {
    margin-left: .9rem;
}

.col-right_bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.fa-face-smile,
.fa-microphone {
    font-size: 1.2rem;
    color: gray;
} 

#write-msg {
    width: 80%;
    height: 35px;
    border: none;
    padding-left: 1rem;
}

.col-right_main {
    height: calc(100% - 108px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.msg-box {
    margin: 60px 80px;
}

.msg-received,
.msg-send {
    width: 250px;
    margin-bottom: 10px;
    padding: .8rem;
    border-radius: 5px;
    position: relative;
}

.msg-received {
    background-color: white;  
}

.msg-send {
    margin-left: auto;
    background-color: #d5f9ba;
}

.content-msg {
    font-size: .9rem;
    font-weight: lighter;
}

.msg-hour {
    font-size: .6rem;
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .3rem;
}

.btn-menu {
    cursor: pointer;
    border: none;
    background-color: transparent;
    visibility: hidden;
    font-size: .6rem;
    padding: .3rem;
}


.dropdown-menu{
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-items {
    position: absolute;
    display: none;
    right: 0;
}

.menu-text {
    color: black;
}

.item-menu {
    display: block;
    width: 150px;
    height: 30px;
    background-color: lightgrey;
    text-decoration: none;
    border: 1px solid gray;
    text-align: center;
    padding-top: .5rem;  
}

.btn-menu:focus-within .dropdown-items {
    display: block;
}

.item-menu:hover {
    background-color: #eaeaea;
}

.msg-box:hover .btn-menu{
    visibility: visible;
}
